@model IEnumerable<MatuszewskiStasiak.SuperBooks.Interfaces.IPublisher>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" style="max-width: 200px">
    <div class="form-group">
        <label class="control-label">Find by name: </label>
        <input type ="text" name="SearchName" value="@ViewData["SearchName"]" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Year created: </label>
        <select name="YearCreated" class="form-control" asp-items="@ViewData["YearsCreated"] as List<SelectListItem>"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Filter" class="btn btn-default" /> |
        <a asp-action="Index">Back to Full List</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
